[submodule "MorvanZhou/Tensorflow-Tutorial"]
	path = MorvanZhou/Tensorflow-Tutorial
	url = https://github.com/MorvanZhou/Tensorflow-Tutorial.git
[submodule "MorvanZhou/tutorials"]
	path = MorvanZhou/tutorials
	url = https://github.com/MorvanZhou/tutorials.git
[submodule "MorvanZhou/Evolutionary-Algorithm"]
	path = MorvanZhou/Evolutionary-Algorithm
	url = https://github.com/MorvanZhou/Evolutionary-Algorithm.git
