[submodule "MorvanZhou/Tensorflow-Tutorial"]
	path = MorvanZhou/Tensorflow-Tutorial
	url = https://github.com/MorvanZhou/Tensorflow-Tutorial.git
[submodule "MorvanZhou/tutorials"]
	path = MorvanZhou/tutorials
	url = https://github.com/MorvanZhou/tutorials.git
[submodule "MorvanZhou/Evolutionary-Algorithm"]
	path = MorvanZhou/Evolutionary-Algorithm
	url = https://github.com/MorvanZhou/Evolutionary-Algorithm.git
[submodule "MorvanZhou/Reinforcement-learning-with-tensorflow"]
	path = MorvanZhou/Reinforcement-learning-with-tensorflow
	url = https://github.com/MorvanZhou/Reinforcement-learning-with-tensorflow.git
[submodule "caicloud/tensorflow-tutorial"]
	path = caicloud/tensorflow-tutorial
	url = https://github.com/caicloud/tensorflow-tutorial.git
[submodule "niult/LearnDL"]
	path = niult/LearnDL
	url = https://github.com/1007530194/LearnDL.git
[submodule "hzy46/TensorFlow-Time-Series-Examples"]
	path = hzy46/TensorFlow-Time-Series-Examples
	url = https://github.com/hzy46/TensorFlow-Time-Series-Examples.git
[submodule "niult/LearnCompetition"]
	path = niult/LearnCompetition
	url = https://github.com/1007530194/LearnCompetition.git
