[submodule "Test/tutorials"]
	path = Test/tutorials
	url = https://github.com/1007530194/tutorials.git
[submodule "MorvanZhou/Tensorflow-Tutorial"]
	path = MorvanZhou/Tensorflow-Tutorial
	url = https://github.com/MorvanZhou/Tensorflow-Tutorial.git
